presets:
	- nette

rules:
	group-import: {minImports: 2}

paths:
	- src
	- tests
	- docs/reference/generate.php

excludePaths:
	- fixtures
	- corpus
	- dump

fileExtensions:
	- php
	- phpt

overrides:
	- paths: [src]
	  groups: [optimized-calls]
	  nameResolution: certain
	  rules:
	  	name-fallback: {optimizedFunctions: qualified, optimizedConstants: qualified}
