use:
	- nette
	- modernizations

typeAnalysis: phpstan

imports: {groupUse: required}

paths:
	- src
	- tests
	- docs/reference/generate.php

excludePaths:
	- tests/**/output
	- corpus
	- dump

fileExtensions:
	- php
	- phpt

overrides:
	-
		paths: [src]
		nameResolution: certain
		use:
			- compilerOptimizations
			- deprecations
