/* Copied from Latte grammar/parser.template (https://latte.nette.org), itself a port of nikic/php-parser grammar/parser.template. */
<?php declare(strict_types=1);

/**
 * This file is part of the Latte (https://latte.nette.org)
 * Copyright (c) 2008 David Grudl (https://davidgrudl.com)
 */

$meta #
#semval($) $this->semValue
#semval($,%t) $this->semValue
#semval(%n) $pos-(%l-%n)
#semval(%n,%t) $pos-(%l-%n)

namespace Latte\Compiler;

use Latte\Compiler\Nodes\Php as Node;
use Latte\Compiler\Nodes\Php\Expression;
use Latte\Compiler\Nodes\Php\Scalar;
#include;


/** @internal generated part of TagParser */
trait #(-p)
{
	/** Symbol number of error recovery token */
	protected const ErrorSymbol = #(YYINTERRTOK);

	/** Action number signifying default action */
	protected const DefaultAction = #(YYDEFAULT);

	/** Rule number signifying that an unexpected token was encountered */
	protected const UnexpectedTokenRule = #(YYUNEXPECTED);

	protected const Yy2Tblstate = #(YY2TBLSTATE);

	/** Number of non-leaf states */
	protected const NumNonLeafStates = #(YYNLSTATES);

	/** Map of lexer tokens to internal symbols */
	protected const TokenToSymbol = [
		#listvar yytranslate
	];

	/** Map of states to a displacement into the self::Action table. The corresponding action for this
	 *  state/symbol pair is self::Action[self::ActionBase[$state] + $symbol]. If self::ActionBase[$state] is 0, the
	 *  action is defaulted, i.e. self::ActionDefault[$state] should be used instead. */
	protected const ActionBase = [
		#listvar yybase
	];

	/** Table of actions. Indexed according to self::ActionBase comment. */
	protected const Action = [
		#listvar yyaction
	];

	/** Table indexed analogously to self::Action. If self::ActionCheck[self::ActionBase[$state] + $symbol] != $symbol
	 *  then the action is defaulted, i.e. self::ActionDefault[$state] should be used instead. */
	protected const ActionCheck = [
		#listvar yycheck
	];

	/** Map of states to their default action */
	protected const ActionDefault = [
		#listvar yydefault
	];

	/** Map of non-terminals to a displacement into the self::Goto table. The corresponding goto state for this
	 *  non-terminal/state pair is self::Goto[self::GotoBase[$nonTerminal] + $state] (unless defaulted) */
	protected const GotoBase = [
		#listvar yygbase
	];

	/** Table of states to goto after reduction. Indexed according to self::GotoBase comment. */
	protected const Goto = [
		#listvar yygoto
	];

	/** Table indexed analogously to self::Goto. If self::GotoCheck[self::GotoBase[$nonTerminal] + $state] != $nonTerminal
	 *  then the goto state is defaulted, i.e. self::GotoDefault[$nonTerminal] should be used. */
	protected const GotoCheck = [
		#listvar yygcheck
	];

	/** Map of non-terminals to the default state to goto after their reduction */
	protected const GotoDefault = [
		#listvar yygdefault
	];

	/** Map of rules to the non-terminal on their left-hand side, i.e. the non-terminal to use for
	 *  determining the state to goto after reduction. */
	protected const RuleToNonTerminal = [
		#listvar yylhs
	];

	/** Map of rules to the length of their right-hand side, which is the number of elements that have to
	 *  be popped from the stack(s) on reduction. */
	protected const RuleToLength = [
		#listvar yylen
	];

	/** Map of symbols to their names */
	protected const SymbolToName = [
		#listvar terminals
	];

	/** Temporary value containing the result of last semantic action (reduction) */
	protected mixed $semValue = null;

	/** Semantic value stack (contains values of tokens and semantic action results) */
	protected array $semStack;

	/** @var array<int, ?Token> Start attribute stack */
	protected array $startTokenStack;

	/** @var array<int, ?Token> End attribute stack */
	protected array $endTokenStack;


	protected function reduce(int $rule, int $pos): void
	{
		(match ($rule) {
#reduce
			%n => function ($pos) {
				%b
			},
#noact
			%n => function ($pos) {
				$this->semValue = $this->semStack[$pos];
			},
#endreduce
		})();
	}
}
#tailcode;
